*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}

body{
background-color: #f4f7fc;
}

/* .container{ */

    /* padding: 0 20px; */

}


/* navbar  */
nav{

}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
     max-width: 1140px;
    height: 71px;
    margin: 30px auto;


}
.nav-link{
    display: flex;
    align-items: center;
 }
.nav-link li:nth-child(2) a,
.nav-link li:nth-child(3) a,
.nav-link li:nth-child(4) a{
    color: #8987A1;
}

.nav-item{
    list-style: none;
    margin-right: 25px;
    
}
.nav-link a{
    text-decoration: none;
    font-weight: 500;
    color: #252432;
}
nav-link .cart {
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: 600;
  font-size: 16px;
  color: #252432;
}




/* Banner section */

/* Orange color */

.highlight{
    color: #E95A08;
}


.banner{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  gap: 40px;
  max-width: 1140px;
  margin: 0 auto;
   padding: 50px 0;
   min-height: 355px;
}


.banner-left h1{
    font-family: "Noto Serif", serif;
    font-size: 65px;
    font-weight: 700;
    margin-bottom: 20px;
}
.banner-left p{
    font-family: "Inter", sans-serif;
    color: #00000080;
    font-size: 22px;
    font-weight: 400;
    
}
.banner-right img{
    width: 570px;
    height: 355px;
    display: block;
}


/* our plants  */


.our-plants .content{
    text-align: center;
    width: 888px;
    height: 54;
    margin: 0 auto;
    padding: 60px 20px;
    
}
.our-plants h1{
    font-family: "Noto Serif", serif;
    font-size: 50px;
    font-weight: 700;
}
.our-plants p{
    font-family: "Inter", sans-serif;
    color:#00000080;
    font-size: 22px;
    font-weight: 400;
    text-align: center;
    padding: 0 20px;
}

/* card section */
/*  */

.container{
    flex: 1;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    padding: 0 30px;
    gap: 5px;
}
   
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 250px; */
}
.btn{
    background: #E95A08;
    position: static;
    width: 270px;
    /* width: 100%; */
    height: 50px;
 }
 .card img{
    height: 322.94px;
    width: 270px;
    /* margin-bottom: auto; */
    margin-top: 10px;
 }
.card-name{

    color: #111111;
    font-size: 22px;
    font-weight: 500;
    font-family: "Inter", sans-serif;
    /* padding: 10px; */
    margin-top: 10px;
    
   
  }
.card-price{
    color: #111111;
    font-size: 22px;
    font-weight: 700;
    font-family: "Inter", sans-serif;
    /* padding: 10px; */
    margin-top: 10px;
}

        /* <!-- /Flower & Plants Lover --> */
.flower{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    gap: 40px;
    margin-bottom: 40px;
}
.flower-title{
    font-weight: 700;
    font-size: 50px;
    font-family: "Noto Serif", serif;
    color: #000000;

}
.flower-description{
    font-family: "Inter", sans-serif;
    font-size: 22px;
    font-weight: 400;
    color:#00000080;
    padding-left: 20px;
    
    
}
.flower-description li{
    margin-bottom: 12px;

}
.sample-flower-img{
    width: 540px;
    height: 597px;
    justify-content: space-between;
    
    
}
/* lates deal */
.latest-deal{
    text-align: center;
    font-weight: 700;
    font-size: 50px;
     /* margin-bottom: 30px; */
}
.deal-title-description{
    font-family: "Inter", sans-serif;
    font-size: 22px;
    font-weight: 400;
    color:#00000080;
    padding-left: 22px;
    width: 888;
    height: 54px;
    
}



/* .three-pic-section { */

.three-pic-section{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 85px;
    width: 1140px;  
  }

.box-bg{
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(../assets/deal-bloom.png);
    width: 366.22px;
    height: 206px;
}
.box-bg-ana{
     background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(../assets/deal-ana.png);
     width: 366.22px;
    height: 206px;
}
.box-big-zabo{
     background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(../assets/deal-zabo.png);
     width: 753px;
     height: 430.13px;
  }
 
.box-bg, 
.box-bg-ana, 
.box-big-zabo{
    background-size: cover;
    background-position: center;
    text-align: center;
    color: white;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    justify-content: center;
    align-items: center;
    
}
.left-side{
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* flex: 1; */
     margin-left: 20px;
}
.right-side{
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex: 1; */

}
.box h2 {
  font-size: 40px;
  /* font-weight: 800; */
  /* width: 700px; */
  
 }
.box p, 
.zabo-shop{
    font-family: "Inter", sans-serif;
    margin: 5px 0 0;
    font-weight: 600;
    height: 20px;
    font-size: 20px;
  }
  .box-big-zabo{
    font-size: 40px;
  font-weight: 700;
  font-family: "Noto Serif", serif;
  }



/* Subscribe Information */

.subscribe-section{
    
     background:linear-gradient(rgba(7, 51, 79, 0.4), rgba(7, 51, 79, 0.4)),
    url('../assets/news-letter-bg.png') no-repeat center center;
     background-size: cover;
     width: 100%;
     height: 533px;
     display: flex;
     justify-content: center;
     align-items: center;
     
     margin-top: 80px;
}
.subscribe-content{
    text-align: center;
    max-width: 700px;
    width: 100%;
}
.subscribe-content h2{
    font-family: 'Noto Serif', serif;
    color: white;
    font-size: 40px;
    margin-bottom: 30px;
}
.subscribe-form{
    display: flex;
    justify-content: center;
    border: none;
}
.subscribe-input{
     padding: 15px 20px;
     font-size: 16px;
     width: 644px;
     height: 50px;
       
}
.btn{
    color: rgb(255, 255, 255);
    font-family: "Inter", sans-serif;
    font-size: 16px;
     font-weight: 600;
     border: none;
}


        /* footer Section */

.footer-seection {
  max-width: 1140px;
  margin: 0 auto;
 
}
.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
   margin-top: 60px;
}
.footer-container .footer-logo {
  margin-top: -98px;
}
.footer-container .footer-logo p {
  /* max-width: 359px; */
  font-size: 1.375rem;
  color: rgba(0, 0, 0, 0.5);
  /* padding-right: 110px; */
  padding-top: 10px;
}
.footer-container .footer-icons ul {
  display: flex;
}
.footer-container ul li {
  list-style: none;
  padding-bottom: 32px;
}
.footer-container ul li a {
  text-decoration: none;
  color: rgba(107, 114, 128, 1);
  font-size: 1rem;
}
.footer-container ul li a:hover {
  color: #252432;
}
.footer-container .footer-icons {
  margin-top: -190px;
}
.footer-container .footer-icons ul li {
  list-style: none;
  padding-right: 24px;
}
.footer-container .footer-icons .twitter-logo {
  padding-top: 10px;
}



/* MObile resonsive */
@media (max-width: 576px){
    h1{
        font-size: 25px;
        margin-bottom: 15px;
    }
   .nav-link li:not(.cart) {
    display: none;
  }
  .navbar {
    height: auto;
    padding: 10px 20px;
  }
  .logo {
   width: 63px;
   height: 38px;
}

/*   banner   */
.banner {
    flex-direction: column;
    align-items: center; 
    gap: 10px;
    padding: 20px 10px;
  }
  .banner-right {
    order: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 0;
   }
  .banner-right img {
    width: 100%;
    height: auto;
    margin-bottom: 0;
    padding-bottom: 0;
    display: block;
  }
  .banner-left {
    order: 1;
    width: 100%;
    text-align: left;
    margin: 0;
    padding: 0;
    
  }
  .banner-left h1 {
    font-size: 36px;
    margin-bottom: 10px;
  }

  .banner-left p {
    font-size: 18px;
    color: #000000cc;
    margin-top: 0;
  }

                /* Our palnt card section */
.our-plants .content {
    text-align: center;
    width: 100%;
    padding: 20px 10px;
  }
  .our-plants h1{
    font-size: 25px;
  }
  
  .container {
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    padding: 0 10px;
    justify-items: center;
  }
  .card img {
    width: 100%;
    max-width: 270px;
    height: auto;
  }

  .btn {
    width: 100%;
    max-width: 270px;
  }
/* <!-- /Flower & Plants Lover --> */

.flower {
    flex-direction: column;
    gap: 20px;
    padding: 20px;
  }
  .sample-flower-img {
    width: 100%;
    height: auto;
  }
  .sample-flower-img img {
    width: 100%;
    height: auto;
    display: block;
  }
  .flower-feature {
    width: 100%;
    text-align: left; 
    padding: 0;
  }
  .flower-title {
    font-size: 32px;
    margin-bottom: 15px;
  }

  .flower-description {
    font-size: 18px;
     padding-left: 20px;
  }

  .flower-description li {
    margin-bottom: 10px;
  }

  /* Latest deal  */
  .latest-deal {
 text-align: center;
}
 
.three-pic-section {
    flex-direction: column;
    padding: 20px;
    width: 100%;
    margin-top: 100px;
  }
   .three-pic-section {
    width: 100%;
    margin-bottom: 20px;
  }
  .box-bg,
  .box-bg-ana,
  .box-big-zabo {
    width: 100%;
    height: 200px;
    /* max-width: 400px; */
    background-size: cover;
    background-position: center;
  }
  .latest-deal p {
  text-align: center;
  margin-left: 15px;
  margin-right: 15px;
  max-width: 90%;
  
}
  .box-big-zabo h2 {
    font-size: 24px; 
  }
  /* news letter  */
  .subscribe-section {
        height: auto; 
        padding: 40px 20px; 
  }
  .subscribe-content {
        max-width: 100%;  
        width: 100%;
        padding: 20px; 
    }
    .subscribe-content h2 {
        font-size: 28px; 
        margin-bottom: 20px;  
    }
    .subscribe-form {
        flex-direction: column; 
        gap: 10px; 
    }
    .subscribe-input {
        width: 100%;  
        padding: 12px 20px; 
        font-size: 14px;  
    }
    .btn {
        width: 100%; 
        padding: 12px; 
        font-size: 16px;  
    }


  /* Footer */
  .footer-container {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 20px;
    padding-top: 50px;
  }
  .footer-container p {
    padding-bottom: 10px;
  }
  .footer-container .footer-logo p {
    max-width: auto;
  }
  .footer-container .footer-icons {
    margin-top: 0px;
  }
}

